.slider-container2 .slick-list{
    width: 2550px;
    height: 600px;
}

.slider-container2 .slick-slider{
  position: static;
}

.slider-container2 .slick-prev {
  z-index: 10;
  left: 10.5%;
  top: 250px;
}

.slider-container2 .slick-next {
    z-index: 10;
    left: 15%;
    top: 250px;
}

.slider-container2 .slick-prev:before,
.slider-container2 .slick-next:before {
    display: none;				
}

.slick-slide div {
    outline: none;
}

@media (max-width: 600px) {
  .slider-container2 .slick-list {
    width: 1650px;
    height: 400px;
  }
  .slider-container2 .slick-prev {
    left: 72%;
    top: 60px;
  }
  .slider-container2 .slick-next {
    left: 85%;
    top: 60px;
  }
}
